# Configuration file

~CONFIG_VERSION: 0.1.0

world-1369488837 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=plate
    B:overlayEnabled=true
}


world-1429650382 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=plate
    B:overlayEnabled=true
}


world-1431591077 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=flint
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=spawn
    B:overlayEnabled=true
}


world1049188719 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=tin ca
    B:overlayEnabled=true
}


world1262843627 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=pick

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world1690200562 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1690202367 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=paran
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=laser
    B:overlayEnabled=true
}


world495519058 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world785103634 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=boat
    B:overlayEnabled=true
}


world856609915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world856682821 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


